workflows/05_public_api.json
{
  "name": "WF-05: Public API Endpoints",
  "nodes": [
    {
      "parameters": {
        "path": "credibility",
        "httpMethod": "GET",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-credibility",
      "name": "GET Credibility",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "credibility-webhook"
    },
    {
      "parameters": {
        "path": "narratives",
        "httpMethod": "GET",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-narratives",
      "name": "GET Narratives",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "narratives-webhook"
    },
    {
      "parameters": {
        "path": "narratives/:id",
        "httpMethod": "GET",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-narrative-detail",
      "name": "Webhook - Narrative Detail",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 600],
      "webhookId": "narrative-detail-webhook"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=credibility:{{ $json.query.domain }}"
      },
      "id": "redis-check-credibility-cache",
      "name": "Check Credibility Cache",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [220, 0],
      "credentials": {
        "redis": {
          "id": "nura-redis",
          "name": "Nura Redis"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cache-hit",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-credibility-cached",
      "name": "Credibility Cached?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Return cached response\nconst cached = $json;\nlet parsed;\n\ntry {\n  parsed = typeof cached === 'string' ? JSON.parse(cached) : cached;\n} catch (e) {\n  parsed = null;\n}\n\nif (parsed) {\n  return {\n    statusCode: 200,\n    body: parsed,\n    fromCache: true\n  };\n}\n\n// Cache miss - should not reach here if IF node works correctly\nreturn {\n  statusCode: 500,\n  body: { error: 'Cache parse error' },\n  fromCache: false\n};"
      },
      "id": "return-cached-credibility",
      "name": "Return Cached Credibility",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, -100]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  s.source_id,\n  s.identifier AS domain,\n  s.name,\n  s.name_original,\n  s.country,\n  s.primary_language AS language,\n  s.credibility_tier AS tier,\n  se.independence,\n  se.methodology,\n  se.transparency,\n  se.triangulation,\n  se.overall_score,\n  se.reasoning,\n  se.created_at AS last_evaluated\nFROM sources s\nLEFT JOIN source_evaluations se ON s.source_id = se.source_id AND se.is_current = true\nWHERE s.identifier LIKE '%' || $1 || '%'\n   OR s.config->>'feed_url' LIKE '%' || $1 || '%'\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ [$('GET Credibility').item.json.query.domain || ''] }}"
        }
      },
      "id": "get-source-credibility",
      "name": "Get Source Credibility",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [660, 100],
      "credentials": {
        "postgres": {
          "id": "nura-postgres",
          "name": "Nura PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const results = $json;\nconst domain = $('GET Credibility').item.json.query?.domain || '';\n\n// Handle array result from PostgreSQL\nconst source = Array.isArray(results) ? results[0] : results;\n\nif (!source || !source.source_id) {\n  return {\n    statusCode: 404,\n    body: {\n      error: 'Source not found',\n      domain: domain,\n      message: `No credibility data available for domain: ${domain}`\n    }\n  };\n}\n\nreturn {\n  statusCode: 200,\n  body: {\n    domain: source.domain,\n    name: source.name,\n    name_original: source.name_original,\n    country: source.country,\n    language: source.language,\n    tier: source.tier || 'unverified',\n    imtt: {\n      independence: source.independence !== null ? parseFloat(source.independence) : null,\n      methodology: source.methodology !== null ? parseFloat(source.methodology) : null,\n      transparency: source.transparency !== null ? parseFloat(source.transparency) : null,\n      triangulation: source.triangulation !== null ? parseFloat(source.triangulation) : null,\n      overall: source.overall_score !== null ? parseFloat(source.overall_score) : null\n    },\n    reasoning: source.reasoning || null,\n    last_evaluated: source.last_evaluated || null\n  }\n};"
      },
      "id": "format-credibility-response",
      "name": "Format Credibility Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 100]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=credibility:{{ $('GET Credibility').item.json.query.domain }}",
        "value": "={{ JSON.stringify($json.body) }}",
        "expire": true,
        "ttl": 3600
      },
      "id": "redis-set-credibility-cache",
      "name": "Set Credibility Cache",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1100, 100],
      "credentials": {
        "redis": {
          "id": "nura-redis",
          "name": "Nura Redis"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "merge-credibility-responses",
      "name": "Merge Credibility Responses",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.body) }}",
        "options": {
          "responseCode": "={{ $json.statusCode || 200 }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              },
              {
                "name": "Cache-Control",
                "value": "public, max-age=3600"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-credibility",
      "name": "Respond Credibility",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1540, 0]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=narratives:list:{{ $json.query.limit || 20 }}:{{ $json.query.offset || 0 }}"
      },
      "id": "redis-check-narratives-cache",
      "name": "Check Narratives Cache",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [220, 300],
      "credentials": {
        "redis": {
          "id": "nura-redis",
          "name": "Nura Redis"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cache-hit",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-narratives-cached",
      "name": "Narratives Cached?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Return cached response\nconst cached = $json;\nlet parsed;\n\ntry {\n  parsed = typeof cached === 'string' ? JSON.parse(cached) : cached;\n} catch (e) {\n  parsed = null;\n}\n\nif (parsed) {\n  return {\n    statusCode: 200,\n    body: parsed,\n    fromCache: true\n  };\n}\n\nreturn {\n  statusCode: 500,\n  body: { error: 'Cache parse error' },\n  fromCache: false\n};"
      },
      "id": "return-cached-narratives",
      "name": "Return Cached Narratives",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  n.narrative_id,\n  n.label,\n  n.label_fa,\n  n.label_ar,\n  n.description,\n  n.content_count,\n  n.claim_count,\n  n.source_count,\n  n.dominant_stance,\n  n.avg_propaganda_risk,\n  n.consensus_plausibility,\n  n.first_seen_at,\n  n.last_activity_at,\n  n.is_featured,\n  n.is_active\nFROM narratives n\nWHERE n.is_active = true\n  AND n.is_hidden = false\n  AND n.last_activity_at > NOW() - INTERVAL '7 days'\nORDER BY \n  n.is_featured DESC,\n  n.last_activity_at DESC,\n  n.claim_count DESC\nLIMIT $1 OFFSET $2;",
        "options": {
          "queryReplacement": "={{ [\n  parseInt($('GET Narratives').item.json.query?.limit) || 20,\n  parseInt($('GET Narratives').item.json.query?.offset) || 0\n] }}"
        }
      },
      "id": "get-narratives-list",
      "name": "Get Narratives List",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [660, 400],
      "credentials": {
        "postgres": {
          "id": "nura-postgres",
          "name": "Nura PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const results = $json;\nconst query = $('GET Narratives').item.json.query || {};\n\n// Handle array result from PostgreSQL\nconst narratives = Array.isArray(results) ? results : [results].filter(Boolean);\n\nconst formattedNarratives = narratives.map(n => ({\n  narrative_id: n.narrative_id,\n  label: n.label,\n  label_fa: n.label_fa,\n  label_ar: n.label_ar,\n  description: n.description,\n  stats: {\n    content_count: parseInt(n.content_count) || 0,\n    claim_count: parseInt(n.claim_count) || 0,\n    source_count: parseInt(n.source_count) || 0\n  },\n  analysis: {\n    dominant_stance: n.dominant_stance,\n    avg_propaganda_risk: n.avg_propaganda_risk !== null ? parseFloat(n.avg_propaganda_risk) : null,\n    consensus_plausibility: n.consensus_plausibility\n  },\n  timeline: {\n    first_seen_at: n.first_seen_at,\n    last_activity_at: n.last_activity_at\n  },\n  is_featured: n.is_featured || false\n}));\n\nreturn {\n  statusCode: 200,\n  body: {\n    narratives: formattedNarratives,\n    pagination: {\n      limit: parseInt(query.limit) || 20,\n      offset: parseInt(query.offset) || 0,\n      count: formattedNarratives.length\n    }\n  }\n};"
      },
      "id": "format-narratives-response",
      "name": "Format Narratives Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 400]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=narratives:list:{{ $('GET Narratives').item.json.query?.limit || 20 }}:{{ $('GET Narratives').item.json.query?.offset || 0 }}",
        "value": "={{ JSON.stringify($json.body) }}",
        "expire": true,
        "ttl": 300
      },
      "id": "redis-set-narratives-cache",
      "name": "Set Narratives Cache",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1100, 400],
      "credentials": {
        "redis": {
          "id": "nura-redis",
          "name": "Nura Redis"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "merge-narratives-responses",
      "name": "Merge Narratives Responses",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.body) }}",
        "options": {
          "responseCode": "={{ $json.statusCode || 200 }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              },
              {
                "name": "Cache-Control",
                "value": "public, max-age=300"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-narratives",
      "name": "Respond Narratives",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1540, 300]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=narrative:{{ $json.params.id }}"
      },
      "id": "redis-check-narrative-detail-cache",
      "name": "Check Narrative Detail Cache",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [220, 600],
      "credentials": {
        "redis": {
          "id": "nura-redis",
          "name": "Nura Redis"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cache-hit",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-narrative-detail-cached",
      "name": "Narrative Detail Cached?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 600]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Return cached response\nconst cached = $json;\nlet parsed;\n\ntry {\n  parsed = typeof cached === 'string' ? JSON.parse(cached) : cached;\n} catch (e) {\n  parsed = null;\n}\n\nif (parsed) {\n  return {\n    statusCode: 200,\n    body: parsed,\n    fromCache: true\n  };\n}\n\nreturn {\n  statusCode: 500,\n  body: { error: 'Cache parse error' },\n  fromCache: false\n};"
      },
      "id": "return-cached-narrative-detail",
      "name": "Return Cached Narrative Detail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 500]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  n.narrative_id,\n  n.label,\n  n.label_fa,\n  n.label_ar,\n  n.description,\n  n.content_count,\n  n.claim_count,\n  n.source_count,\n  n.dominant_stance,\n  n.avg_propaganda_risk,\n  n.consensus_plausibility,\n  n.first_seen_at,\n  n.last_activity_at,\n  n.is_featured,\n  n.is_active,\n  -- Get claims with source info\n  COALESCE(\n    json_agg(\n      DISTINCT jsonb_build_object(\n        'claim_id', cl.claim_id,\n        'claim_text', cl.claim_text,\n        'claim_text_en', cl.claim_text_en,\n        'claim_type', cl.claim_type,\n        'confidence', cl.confidence,\n        'source_tier', s.credibility_tier,\n        'source_name', s.name,\n        'published_at', c.published_at,\n        'similarity_score', cn.similarity_score,\n        'is_core_claim', cn.is_core_claim\n      )\n    ) FILTER (WHERE cl.claim_id IS NOT NULL),\n    '[]'\n  ) AS claims,\n  -- Get timeline events\n  COALESCE(\n    json_agg(\n      DISTINCT jsonb_build_object(\n        'event_date', nt.event_date,\n        'key_event', nt.key_event,\n        'description', nt.description\n      )\n    ) FILTER (WHERE nt.timeline_id IS NOT NULL),\n    '[]'\n  ) AS timeline,\n  -- Get source distribution\n  COALESCE(\n    json_agg(\n      DISTINCT jsonb_build_object(\n        'source_id', s.source_id,\n        'source_name', s.name,\n        'credibility_tier', s.credibility_tier,\n        'country', s.country\n      )\n    ) FILTER (WHERE s.source_id IS NOT NULL),\n    '[]'\n  ) AS sources\nFROM narratives n\nLEFT JOIN claim_narratives cn ON n.narrative_id = cn.narrative_id\nLEFT JOIN claims cl ON cn.claim_id = cl.claim_id\nLEFT JOIN content c ON cl.content_id = c.content_id\nLEFT JOIN sources s ON c.source_id = s.source_id\nLEFT JOIN narrative_timeline nt ON n.narrative_id = nt.narrative_id\nWHERE n.narrative_id = $1::uuid\nGROUP BY n.narrative_id;",
        "options": {
          "queryReplacement": "={{ [$('Webhook - Narrative Detail').item.json.params.id] }}"
        }
      },
      "id": "get-narrative-detail",
      "name": "Webhook - Narrative Detail",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [660, 700],
      "credentials": {
        "postgres": {
          "id": "nura-postgres",
          "name": "Nura PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const results = $json;\nconst narrativeId = $('Webhook - Narrative Detail').item.json.params?.id;\n\n// Handle array result from PostgreSQL\nconst narrative = Array.isArray(results) ? results[0] : results;\n\nif (!narrative || !narrative.narrative_id) {\n  return {\n    statusCode: 404,\n    body: {\n      error: 'Narrative not found',\n      narrative_id: narrativeId,\n      message: `No narrative found with ID: ${narrativeId}`\n    }\n  };\n}\n\n// Parse JSON aggregates\nlet claims = [];\nlet timeline = [];\nlet sources = [];\n\ntry {\n  claims = typeof narrative.claims === 'string' \n    ? JSON.parse(narrative.claims) \n    : (narrative.claims || []);\n  claims = claims.filter(c => c && c.claim_id);\n} catch (e) {\n  claims = [];\n}\n\ntry {\n  timeline = typeof narrative.timeline === 'string' \n    ? JSON.parse(narrative.timeline) \n    : (narrative.timeline || []);\n  timeline = timeline.filter(t => t && t.event_date);\n} catch (e) {\n  timeline = [];\n}\n\ntry {\n  sources = typeof narrative.sources === 'string' \n    ? JSON.parse(narrative.sources) \n    : (narrative.sources || []);\n  sources = sources.filter(s => s && s.source_id);\n} catch (e) {\n  sources = [];\n}\n\n// Sort claims by similarity score (core claims first)\nconst sortedClaims = claims.sort((a, b) => {\n  if (a.is_core_claim && !b.is_core_claim) return -1;\n  if (!a.is_core_claim && b.is_core_claim) return 1;\n  return (b.similarity_score || 0) - (a.similarity_score || 0);\n});\n\n// Sort timeline by date\nconst sortedTimeline = timeline.sort((a, b) => \n  new Date(a.event_date) - new Date(b.event_date)\n);\n\n// Calculate source tier distribution\nconst tierDistribution = sources.reduce((acc, s) => {\n  const tier = s.credibility_tier || 'unverified';\n  acc[tier] = (acc[tier] || 0) + 1;\n  return acc;\n}, {});\n\nreturn {\n  statusCode: 200,\n  body: {\n    narrative_id: narrative.narrative_id,\n    label: narrative.label,\n    label_fa: narrative.label_fa,\n    label_ar: narrative.label_ar,\n    description: narrative.description,\n    stats: {\n      content_count: parseInt(narrative.content_count) || 0,\n      claim_count: parseInt(narrative.claim_count) || 0,\n      source_count: parseInt(narrative.source_count) || 0\n    },\n    analysis: {\n      dominant_stance: narrative.dominant_stance,\n      avg_propaganda_risk: narrative.avg_propaganda_risk !== null \n        ? parseFloat(narrative.avg_propaganda_risk) \n        : null,\n      consensus_plausibility: narrative.consensus_plausibility\n    },\n    timeline: {\n      first_seen_at: narrative.first_seen_at,\n      last_activity_at: narrative.last_activity_at,\n      events: sortedTimeline\n    },\n    claims: sortedClaims.map(c => ({\n      claim_id: c.claim_id,\n      claim_text: c.claim_text,\n      claim_text_en: c.claim_text_en,\n      claim_type: c.claim_type,\n      confidence: c.confidence !== null ? parseFloat(c.confidence) : null,\n      source: {\n        name: c.source_name,\n        tier: c.source_tier\n      },\n      published_at: c.published_at,\n      similarity_score: c.similarity_score !== null ? parseFloat(c.similarity_score) : null,\n      is_core_claim: c.is_core_claim || false\n    })),\n    sources: {\n      list: sources.map(s => ({\n        source_id: s.source_id,\n        name: s.source_name,\n        tier: s.credibility_tier,\n        country: s.country\n      })),\n      tier_distribution: tierDistribution\n    },\n    is_featured: narrative.is_featured || false,\n    is_active: narrative.is_active || true\n  }\n};"
      },
      "id": "format-narrative-detail-response",
      "name": "Format Narrative Detail Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 700]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=narrative:{{ $('Webhook - Narrative Detail').item.json.params.id }}",
        "value": "={{ JSON.stringify($json.body) }}",
        "expire": true,
        "ttl": 300
      },
      "id": "redis-set-narrative-detail-cache",
      "name": "Set Narrative Detail Cache",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1100, 700],
      "credentials": {
        "redis": {
          "id": "nura-redis",
          "name": "Nura Redis"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "merge-narrative-detail-responses",
      "name": "Merge Narrative Detail Responses",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1320, 600]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.body) }}",
        "options": {
          "responseCode": "={{ $json.statusCode || 200 }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              },
              {
                "name": "Cache-Control",
                "value": "public, max-age=300"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-narrative-detail",
      "name": "Respond Narrative Detail",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1540, 600]
    },
    {
      "parameters": {
        "path": "health",
        "httpMethod": "GET",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-health",
      "name": "GET Health",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 900],
      "webhookId": "health-webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  status: 'healthy',\n  service: 'nura-neural-api',\n  version: '1.0.0',\n  timestamp: new Date().toISOString(),\n  endpoints: {\n    credibility: '/webhook/credibility?domain=<domain>',\n    narratives: '/webhook/narratives?limit=20&offset=0',\n    narrative_detail: '/webhook/narratives/:id'\n  }\n}) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-health",
      "name": "Respond Health",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [220, 900]
    }
  ],
  "connections": {
    "GET Credibility": {
      "main": [
        [
          {
            "node": "Check Credibility Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Credibility Cache": {
      "main": [
        [
          {
            "node": "Credibility Cached?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Credibility Cached?": {
      "main": [
        [
          {
            "node": "Return Cached Credibility",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Source Credibility",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Cached Credibility": {
      "main": [
        [
          {
            "node": "Merge Credibility Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Source Credibility": {
      "main": [
        [
          {
            "node": "Format Credibility Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Credibility Response": {
      "main": [
        [
          {
            "node": "Set Credibility Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Credibility Cache": {
      "main": [
        [
          {
            "node": "Merge Credibility Responses",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Credibility Responses": {
      "main": [
        [
          {
            "node": "Respond Credibility",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Narratives": {
      "main": [
        [
          {
            "node": "Check Narratives Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Narratives Cache": {
      "main": [
        [
          {
            "node": "Narratives Cached?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Narratives Cached?": {
      "main": [
        [
          {
            "node": "Return Cached Narratives",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Narratives List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Cached Narratives": {
      "main": [
        [
          {
            "node": "Merge Narratives Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Narratives List": {
      "main": [
        [
          {
            "node": "Format Narratives Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Narratives Response": {
      "main": [
        [
          {
            "node": "Set Narratives Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Narratives Cache": {
      "main": [
        [
          {
            "node": "Merge Narratives Responses",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Narratives Responses": {
      "main": [
        [
          {
            "node": "Respond Narratives",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Narrative Detail": {
      "main": [
        [
          {
            "node": "Check Narrative Detail Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Narrative Detail Cache": {
      "main": [
        [
          {
            "node": "Narrative Detail Cached?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Narrative Detail Cached?": {
      "main": [
        [
          {
            "node": "Return Cached Narrative Detail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Webhook - Narrative Detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Cached Narrative Detail": {
      "main": [
        [
          {
            "node": "Merge Narrative Detail Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Narrative Detail": {
      "main": [
        [
          {
            "node": "Format Narrative Detail Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Narrative Detail Response": {
      "main": [
        [
          {
            "node": "Set Narrative Detail Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Narrative Detail Cache": {
      "main": [
        [
          {
            "node": "Merge Narrative Detail Responses",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Narrative Detail Responses": {
      "main": [
        [
          {
            "node": "Respond Narrative Detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Health": {
      "main": [
        [
          {
            "node": "Respond Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "nura-neural",
      "createdAt": "2026-02-01T00:00:00.000Z",
      "updatedAt": "2026-02-01T00:00:00.000Z"
    },
    {
      "name": "public-api",
      "createdAt": "2026-02-01T00:00:00.000Z",
      "updatedAt": "2026-02-01T00:00:00.000Z"
    },
    {
      "name": "production",
      "createdAt": "2026-02-01T00:00:00.000Z",
      "updatedAt": "2026-02-01T00:00:00.000Z"
    }
  ],
  "triggerCount": 4,
  "versionId": "1.0.0",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "nura-neural-instance"
  }
}
