workflows/WF2_Enrichment.json
{
  "name": "WF2: AI Enrichment Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-enrichment",
      "name": "Schedule (5min)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [260, 300],
      "notes": "Poll for pending items every 5 minutes"
    },
    {
      "parameters": {
        "operation": "select",
        "query": "SELECT check_workflow_health('WF2_Enrichment') as can_proceed",
        "options": {}
      },
      "id": "check-circuit",
      "name": "Check Circuit Breaker",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [480, 300],
      "credentials": {
        "postgres": {
          "id": "nura-postgres",
          "name": "Nura PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "circuit-check",
              "leftValue": "={{ $json.can_proceed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-circuit-open",
      "name": "IF Circuit Open",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "operation": "select",
        "query": "SELECT id, source_id, url, title, content, content_html, author, content_type, published_at\nFROM items \nWHERE status = 'pending' \nAND ingested_at > NOW() - interval '24 hours'\nORDER BY published_at DESC\nLIMIT 10\nFOR UPDATE SKIP LOCKED",
        "options": {}
      },
      "id": "get-pending-items",
      "name": "Get Pending Items",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [920, 300],
      "credentials": {
        "postgres": {
          "id": "nura-postgres",
          "name": "Nura PostgreSQL"
        }
      },
      "notes": "Get up to 10 pending items with row locking"
    },
    {
      "parameters": {
        "jsCode": "// REQ-AI-ML-001: Simple language detection using Unicode ranges\nconst item = $input.first().json;\nconst text = item.content || item.title || '';\n\n// Count character types\nlet farsi = 0, arabic = 0, latin = 0, total = 0;\n\nfor (const char of text) {\n  const code = char.charCodeAt(0);\n  total++;\n  if (code >= 0x0600 && code <= 0x06FF) {\n    // Arabic/Farsi block\n    if (code >= 0x067E && code <= 0x06CC) farsi++;\n    else arabic++;\n  } else if ((code >= 0x0041 && code <= 0x007A)) {\n    latin++;\n  }\n}\n\nconst farsiRatio = farsi / total;\nconst arabicRatio = arabic / total;\nconst latinRatio = latin / total;\n\nlet detected_language = 'en';\nlet needs_translation = false;\n\nif (farsiRatio > 0.3) {\n  detected_language = 'fa';\n  needs_translation = true;\n} else if (arabicRatio > 0.3) {\n  detected_language = 'ar';\n  needs_translation = true;\n} else if (latinRatio < 0.5 && (farsiRatio + arabicRatio) > 0.2) {\n  detected_language = farsiRatio > arabicRatio ? 'fa' : 'ar';\n  needs_translation = true;\n}\n\nreturn [{\n  json: {\n    ...item,\n    detected_language,\n    needs_translation,\n    char_stats: { farsi: farsiRatio, arabic: arabicRatio, latin: latinRatio }\n  }\n}];"
      },
      "id": "detect-language",
      "name": "Detect Language",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 300],
      "notes": "REQ-AI-ML-001: Detect Farsi/Arabic vs English"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "translation-check",
              "leftValue": "={{ $json.needs_translation }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-needs-translation",
      "name": "IF Needs Translation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1360, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AZURE_OPENAI_ENDPOINT }}/openai/deployments/{{ $env.AZURE_OPENAI_DEPLOYMENT }}/chat/completions?api-version=2024-02-15-preview",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a professional translator. Translate the following text to English. Preserve the original meaning, tone, and any quoted text. Output ONLY the translation, no explanations.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.content || $json.title) }}\n    }\n  ],\n  \"temperature\": 0.3,\n  \"max_tokens\": 4000\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "translate-openai",
      "name": "Translate (Azure OpenAI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1580, 240],
      "credentials": {
        "httpHeaderAuth": {
          "id": "azure-openai-auth",
          "name": "Azure OpenAI API Key"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "REQ-AI-ML-002: Translate Farsi/Arabic → English"
    },
    {
      "parameters": {
        "jsCode": "// Merge translation result back into item\nconst originalItem = $('Detect Language').item.json;\nconst translationResponse = $input.first().json;\n\nlet translated_content = null;\nlet translation_error = null;\n\ntry {\n  if (translationResponse.choices && translationResponse.choices[0]) {\n    translated_content = translationResponse.choices[0].message.content;\n  }\n} catch (e) {\n  translation_error = e.message;\n}\n\nreturn [{\n  json: {\n    ...originalItem,\n    translated_content,\n    translation_error,\n    content_for_analysis: translated_content || originalItem.content\n  }\n}];"
      },
      "id": "merge-translation",
      "name": "Merge Translation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 240]
    },
    {
      "parameters": {
        "jsCode": "// No translation needed, pass through\nconst item = $input.first().json;\nreturn [{\n  json: {\n    ...item,\n    translated_content: null,\n    content_for_analysis: item.content\n  }\n}];"
      },
      "id": "skip-translation",
      "name": "Skip Translation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1580, 400]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "id"
            }
          ]
        },
        "options": {}
      },
      "id": "merge-paths",
      "name": "Merge Paths",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [2020, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AZURE_OPENAI_ENDPOINT }}/openai/deployments/{{ $env.AZURE_OPENAI_DEPLOYMENT }}/chat/completions?api-version=2024-02-15-preview",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Extract structured metadata from this news article. Return ONLY valid JSON with these fields:\\n{\\n  \\\"author\\\": \\\"string or null\\\",\\n  \\\"dateline\\\": \\\"location mentioned at start or null\\\",\\n  \\\"entities\\\": {\\n    \\\"people\\\": [\\\"array of person names\\\"],\\n    \\\"organizations\\\": [\\\"array of org names\\\"],\\n    \\\"locations\\\": [\\\"array of place names\\\"],\\n    \\\"topics\\\": [\\\"array of main topics/themes\\\"]\\n  },\\n  \\\"sentiment\\\": \\\"positive|negative|neutral\\\",\\n  \\\"sentiment_confidence\\\": 0.0-1.0,\\n  \\\"summary\\\": \\\"2-3 sentence summary\\\",\\n  \\\"key_claims\\\": [\\\"array of factual claims made\\\"]\\n}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify(($json.content_for_analysis || $json.content || '').substring(0, 8000)) }}\n    }\n  ],\n  \"temperature\": 0.2,\n  \"max_tokens\": 2000,\n  \"response_format\": { \"type\": \"json_object\" }\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "extract-metadata",
      "name": "Extract Metadata (Azure OpenAI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2240, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "azure-openai-auth",
          "name": "Azure OpenAI API Key"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "REQ-AI-ML-003: Extract author, entities, dateline, sentiment"
    },
    {
      "parameters": {
        "jsCode": "// Parse metadata extraction response\nconst item = $('Merge Paths').item.json;\nconst response = $input.first().json;\n\nlet metadata = {};\nlet metadata_error = null;\n\ntry {\n  if (response.choices && response.choices[0]) {\n    const content = response.choices[0].message.content;\n    metadata = JSON.parse(content);\n  }\n} catch (e) {\n  metadata_error = e.message;\n  metadata = {\n    author: null,\n    dateline: null,\n    entities: { people: [], organizations: [], locations: [], topics: [] },\n    sentiment: 'neutral',\n    sentiment_confidence: 0,\n    summary: null,\n    key_claims: []\n  };\n}\n\nreturn [{\n  json: {\n    ...item,\n    ai_metadata: metadata,\n    metadata_error,\n    ai_author: metadata.author || item.author,\n    ai_sentiment: metadata.sentiment,\n    ai_summary: metadata.summary\n  }\n}];"
      },
      "id": "parse-metadata",
      "name": "Parse Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AZURE_OPENAI_ENDPOINT }}/openai/deployments/text-embedding-3-small/embeddings?api-version=2024-02-15-preview",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input\": {{ JSON.stringify(($json.content_for_analysis || $json.content || '').substring(0, 8000)) }},\n  \"dimensions\": 1536\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "generate-embedding",
      "name": "Generate Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2680, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "azure-openai-auth",
          "name": "Azure OpenAI API Key"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "REQ-AI-ML-005: text-embedding-3-small (1536 dims for pgvector)"
    },
    {
      "parameters": {
        "jsCode": "// Extract embedding vector from response\nconst item = $('Parse Metadata').item.json;\nconst response = $input.first().json;\n\nlet embedding = null;\nlet embedding_error = null;\n\ntry {\n  if (response.data && response.data[0] && response.data[0].embedding) {\n    embedding = response.data[0].embedding;\n  }\n} catch (e) {\n  embedding_error = e.message;\n}\n\nreturn [{\n  json: {\n    ...item,\n    embedding,\n    embedding_error,\n    embedding_dimensions: embedding ? embedding.length : 0\n  }\n}];"
      },
      "id": "parse-embedding",
      "name": "Parse Embedding",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2900, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE items SET\n  status = 'enriched'::processing_status,\n  language = $2,\n  translated_content = $3,\n  author = COALESCE($4, author),\n  ai_metadata = $5::jsonb,\n  embedding = $6::vector(1536),\n  processed_at = NOW(),\n  ai_model_version = 'gpt-4o + text-embedding-3-small'\nWHERE id = $1::uuid\nRETURNING id, status",
        "options": {
          "queryReplacement": "={{ $json.id }},={{ $json.detected_language }},={{ $json.translated_content }},={{ $json.ai_author }},={{ JSON.stringify($json.ai_metadata) }},={{ $json.embedding ? '[' + $json.embedding.join(',') + ']' : null }}"
        }
      },
      "id": "update-item",
      "name": "Update Item (Enriched)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3120, 300],
      "credentials": {
        "postgres": {
          "id": "nura-postgres",
          "name": "Nura PostgreSQL"
        }
      },
      "notes": "Update item with all AI-extracted data"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT record_workflow_success('WF2_Enrichment')",
        "options": {}
      },
      "id": "record-success",
      "name": "Record Success",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3340, 300],
      "credentials": {
        "postgres": {
          "id": "nura-postgres",
          "name": "Nura PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT record_workflow_failure('WF2_Enrichment', $1)",
        "options": {
          "queryReplacement": "={{ JSON.stringify({ error: $json.error || 'Unknown error', item_id: $json.id }) }}"
        }
      },
      "id": "record-failure",
      "name": "Record Failure",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1800, 140],
      "credentials": {
        "postgres": {
          "id": "nura-postgres",
          "name": "Nura PostgreSQL"
        }
      }
    },
    {
      "parameters": {},
      "id": "noop-circuit-open",
      "name": "Skip (Circuit Open)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [920, 400]
    },
    {
      "parameters": {},
      "id": "noop-no-items",
      "name": "No Pending Items",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1140, 400]
    }
  ],
  "connections": {
    "Schedule (5min)": {
      "main": [
        [
          {
            "node": "Check Circuit Breaker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Circuit Breaker": {
      "main": [
        [
          {
            "node": "IF Circuit Open",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Circuit Open": {
      "main": [
        [
          {
            "node": "Get Pending Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip (Circuit Open)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Items": {
      "main": [
        [
          {
            "node": "Detect Language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Language": {
      "main": [
        [
          {
            "node": "IF Needs Translation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Needs Translation": {
      "main": [
        [
          {
            "node": "Translate (Azure OpenAI)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Translation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translate (Azure OpenAI)": {
      "main": [
        [
          {
            "node": "Merge Translation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Record Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Translation": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Translation": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Paths": {
      "main": [
        [
          {
            "node": "Extract Metadata (Azure OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Metadata (Azure OpenAI)": {
      "main": [
        [
          {
            "node": "Parse Metadata",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Record Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Metadata": {
      "main": [
        [
          {
            "node": "Generate Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embedding": {
      "main": [
        [
          {
            "node": "Parse Embedding",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Record Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Embedding": {
      "main": [
        [
          {
            "node": "Update Item (Enriched)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Item (Enriched)": {
      "main": [
        [
          {
            "node": "Record Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "wf2-enrichment-v2.0",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "nura-neural"
  },
  "id": "WF2_Enrichment",
  "tags": [
    {
      "id": "ai",
      "name": "ai"
    },
    {
      "id": "enrichment",
      "name": "enrichment"
    },
    {
      "id": "mvp",
      "name": "mvp"
    }
  ],
  "__meta": {
    "requirements": ["REQ-AI-ML-001", "REQ-AI-ML-002", "REQ-AI-ML-003", "REQ-AI-ML-005"],
    "description": "AI Enrichment Pipeline: Language detection, translation (Farsi/Arabic→English), metadata extraction, vector embeddings",
    "cost_target": "$0.60/day (60k tokens @ $0.01/1k)",
    "schedule": "Every 5 minutes, batch of 10 items"
  }
}
